<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniSQ Paramedicine Simulation Case - PatientDetails</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>UniSQ Paramedicine Simulation Case</h1>
    </header>

        <nav>
            <ul>
                <li><a href="Index.html">Welcome</a></li>
                <li><a href="SceneInformation.html">Scene Information</a></li>
                <li><a href="ParamedicAssessment.html">Paramedic Assessment</a></li>
                <li><a href="PatientDetails.html">Patient Details</a></li>
                <li><a href="ParamedicManagement.html">Paramedic Management</a></li>
                <li><a href="CaseNarrative.html">Case Narrative</a></li>
                <li><a href="Handover.html">Handover</a></li>
                <li><a href="GeneratePDF.html">Generate PDF</a></li>
            </ul>
        </nav>
    <main>
      <!-- Add patient form -->
    <h2>Add Patient</h2>
    <form action="https://sigma.usq.edu.au/courses/CSC8740/reflect.php" method="post">
       <label for="title">Title</label>
        <select id="title" name="title">
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Ms">Ms</option>
        </select>
      
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" name="firstName">

      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" name="lastName">

    </br>
    </br>
      <label for="dateOfBirth">Date of Birth</label>
      <input type="date" id="dateOfBirth" name="dateOfBirth">

      <label for="age">Age</label>
      <input type="number" id="age" name="age">
      
      <label for="gender">Gender</label>
      <select id="gender" name="gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
      </select>

    </br>
    </br>
      <label for="weight">Weight</label>
      <input type="number" id="weight" name="weight">

      <label for="email">Email Address:</label>
      <input type="email" id="email" name="email" required>
      
      <label for="phone">Phone Number:</label>
      <input type="text" id="phone" name="phone" required><br><br>

      <p>Whether the patient has historical disease? </p>
                <input type="radio" id="bar1" name="bar" value="Y">
                <label for="bar1">Yes</label><br>
                <input type="radio" id="bar2" name="bar" value="N">
                <label for="bar2">No</label><br>  
      <p>Time for appointment:</p>
                <input type="checkbox" id="Morning" name="Morning">
                <label for="Morning">Morning</label><br>
                <input type="checkbox" id="Afternoon" name="Afternoon">
                <label for="Afternoon">Afternoon</label><br>
      <br>
      <button type="submit">Add Patient</button>
    </form>

    

    </main>
    <footer>
        <p>Contact: (06) 6666 6666 | <a href="mailto:simucare.solutions@unisq.edu.au">simucare.solutions@unisq.edu.au</a></p>
        <p>Address: West Street, Unisq</p>
        <p1>Report by SimuCare Solutions</p1>
        <p1><a href="Report.html">View Report</a></p1>
    </footer>
</body>
</html>
