<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="src/index.css">
    <title>Paramedic Application</title>
</head>



<body>

    <header>
        <h1>UniSQ Paramedicine Simulation Case</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/index.html">Welcome</a></li>
            <li><a href="SceneInformation.html">Scene Information</a></li>
            <li><a href="ParamedicAssessment.html">Paramedic Assessment</a></li>
            <li><a href="PatientDetails.html">Patient Details</a></li>
            <li><a href="ParamedicManagement.html">Paramedic Management</a></li>
            <li><a href="CaseNarrative.html">Case Narrative</a></li>
            <li><a href="Handover.html">Handover</a></li>
            <li><a href="GeneratePDF.html">Generate PDF</a></li>
        </ul>
    </nav>

    <main>
        <div>Welcome come to Paramedic app</div>

    </main>
    <footer>
        <p>Contact: (06) 6666 6666 | <a href="mailto:simucare.solutions@unisq.edu.au">simucare.solutions@unisq.edu.au</a></p>
        <p>Address: West Street, Unisq</p>
        <p1>Report by SimuCare Solutions, 0061158618</p1>
        <p1><a href="Report.html">View Report</a></p1>
    </footer>
    <script type="module" src="/src/main.jsx"></script>
</body>
</html>
