<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniSQ Paramedicine Simulation Case</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>UniSQ Paramedicine Simulation Case</h1>
    </header>

        <nav>
            <ul>
                <li><a href="Welcome.html">Welcome</a></li>
                <li><a href="SceneInformation.html">Scene Information</a></li>
                <li><a href="ParamedicAssessment.html">Paramedic Assessment</a></li>
                <li><a href="PatientDetails.html">Patient Details</a></li>
                <li><a href="ParamedicManagement.html">Paramedic Management</a></li>
                <li><a href="CaseNarrative.html">Case Narrative</a></li>
                <li><a href="Handover.html">Handover</a></li>
                <li><a href="GeneratePDF.html">Generate PDF</a></li>
            </ul>
        </nav>
    <main>
        <section class="about">
            <h2>About Us</h2>
            <img src=".jpg" alt="UniSQ Paramedicine Simulation Case" height="400px">
            <p></p>

        </section>
        <section class="hours-address">
            <h3>Opening Hours</h3>
            <table>
                <thead>
                    <tr><th>Day</th><th>Morning</th><th>Afternoon</th></tr>
                </thead>
                <tbody>
                    <tr><td>Monday</td><td>Closed</td><td>Closed</td></tr>
                    <tr><td>Tuesday</td><td>08:00 am - 12:00 pm</td><td>1:00 pm - 5:00 pm</td></tr>
                    <tr><td>Wednesday</td><td>08:00 am - 12:00 pm</td><td>1:00 pm - 5:00 pm</td></tr>
                    <tr><td>Thursday</td><td>08:00 am - 12:00 pm</td><td>1:00 pm - 5:00 pm</td></tr>
                    <tr><td>Friday</td><td>08:00 am - 12:00 pm</td><td>1:00 pm - 5:00 pm</td></tr>
                    <tr><td>Saturday</td><td>08:00 am - 12:00 pm</td><td>1:00 pm - 5:00 pm</td></tr>
                    <tr><td>Sunday</td><td>08:00 am - 12:00 pm</td><td>1:00 pm - 5:00 pm</td></tr>
                </tbody>
            </table>
            <h3>Address</h3>
            <p>Address: West Street, Unisq</p>
            <p>Phone: (06) 6666 6666</p>
            <p>Email: <a1 href="mailto:simucare.solutions@unisq.edu.au">simucare.solutions@unisq.edu.au</a1></p>
        </section>
    </main>
    <footer>
        <p>Contact: (06) 6666 6666 | <a href="mailto:simucare.solutions@unisq.edu.au">simucare.solutions@unisq.edu.au</a></p>
        <p>Address: West Street, Unisq</p>
        <p1>Report by SimuCare Solutions, 0061158618</p1>
        <p1><a href="Report.html">View Report</a></p1>
    </footer>
</body>
</html>
