
.radio-group {
    display: flex;
    align-items: center;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

.radio-group label {
    margin-right: 15px; /* Adjust as needed */
}

button{
    width: 20%;
    height: 3.5rem;
    font-size: larger;
    font-weight: bold;
    color: var(--secondary);
    border: var(--bodyTextColor) solid;
    border-radius: 0.5rem;
  }
  button:hover{
    background-color: var(--secondary);
    color: var(--primaryLight);
  }
  
legend {
    margin: 0;
    color: rgb(71, 21, 165);
    font-weight: bold;

}
  