
@media only screen and (min-width: 0rem) {
  :root {
      --primary: #4E4B66;
      --primaryLight: #001F3F;
      --secondary: #E4A95F;
      --secondaryLight: #dec9a5;
      --headerColor: #1a1a1a;
      --bodyTextColor: #4E4B66;
      --bodyTextColorWhite: #FAFBFC;
      /* 13px - 16px */
      --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
      /* 31px - 49px */
      --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
      --bodyFontSize: 1rem;
      /* 60px - 100px top and bottom */
      --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
  }

}

/*-- -------------------------- -->
<---          Side bar desktop   -->
<--- -------------------------- -*/

#side-bar  .sidebar-active {
  background-color: var(--secondaryLight);
}


/*-- -------------------------- -->
<---          Scene div         -->
<--- -------------------------- -*/



.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}
.form-group select,
.form-group input,

.form-group textarea {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fafafa;
  font-size: 16px;
}

.form-group textarea {
  resize: vertical;
}

.btn-submit {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
.btn-submit:hover {
  background-color: #0056b3;
}

.history-section-label,
.history-section-select,
.history-section-textarea,
.history-section-button {
  font-size: 16px; /* Adjust the font size*/
}

.form-row {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: space-between;
  min-width: 50vw;
}

/* Form Group Flex Items */
.form-group {
  flex: 1; /* Allow items to grow evenly */
  min-width: 200px; /* Adjust based on layout needs */
}

/* Ensure inputs take full width within their container */
.form-group input {
  width: 90%;
}